## ssh
alias zuber="ssh zyklop@der-zyklop.de"
alias puber="ssh pxwrk@pxwrk.de"
alias buber="ssh betti@unisono-giessen.de"
alias skuber="ssh skmobil@sk-mobil.com"
alias synology="ssh root@192.168.188.23"

# ls mit versteckten dateien und slashes an ordnern
alias ls="ls -pa"
# Check reboot times
alias re="last reboot"
# Clear up the terminal window
alias c="clear"
# get all ports
alias ports="sudo lsof -i -P | grep -i LISTEN"
# change owner to current user
alias access="sudo chown -R $USER "
# get all processes
alias processes="lsof -i TCP"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# Some often-used git stuff
alias "gs"="git status"
alias "gd"="git diff "
alias "ga"="git add -A"
alias "gc"="git commit -m "
alias "gl"="git log --oneline"
alias "gsu"="git submodule update --init --recursive"

# ifconfig greps
alias ip4="ifconfig |grep 'inet '"
alias ip6="ifconfig |grep 'inet6 '"
alias ipall="ifconfig |grep inet"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -='cd -'

alias h="history"


# Open current folder
alias o="open ."

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

function gp() {
  if [ $# -gt 1 ]; then
    echo "USAGE: gp [commit-msg]"
    tput setaf 1
    echo "Maximum one param!"
    tput sgr0
  elif [ $# -lt 1 ]; then
    git push
  else
    git commit -m $1
    git push
  fi
}

function gi() {
  git init
  touch README.md
  touch .gitignore
  echo -e ".gitignore\n.DS_Store"> .gitignore
}

# color diffs for SVN
function svndiff () {
  svn diff ${1+"$@"} | colordiff
}


### NAVIGATION ###

function p() {
  if [ $# -gt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Maximum one param!"
    tput sgr0
  elif [ $# -lt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Minimum one param!"
    tput sgr0
  else
    if [ -d ~/Cloud/server/pxwrk.de/$1.pxwrk.de ]; then
      cd ~/Cloud/server/pxwrk.de/$1.pxwrk.de
    elif [ -d ~/Cloud/server/github-derzyklop/$1 ]; then
      cd ~/Cloud/server/github-derzyklop/$1
    elif [ -d ~/Cloud/server/pxwrk.de/git.pxwrk.de/$1 ]; then
      cd ~/Cloud/server/pxwrk.de/git.pxwrk.de/$1
    elif [ -d ~/Cloud/server/$1 ]; then
      cd ~/Cloud/server/$1
    elif [ -d ~/S/$1.pxwrk.de ]; then
      cd ~/S/$1.pxwrk.de
    elif [ -d ~/S/$1 ]; then
      cd ~/S/$1

    else
      tput setaf 1
      echo "-------------------------"
      echo "Error: Project not found!"
      echo "-------------------------"
      tput sgr0
    fi
  fi
}
